	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
		font-family: "Montserrat",sans-serif;
		/*background-color: whitesmoke;*/
	}

		.col-1 {width: 8.33%;}
		.col-2 {width: 16.66%;}
		.col-3 {width: 25%;}
		.col-4 {width: 33.33%;}
		.col-5 {width: 41.66%;}
		.col-6 {width: 50%;}
		.col-7 {width: 58.33%;}
		.col-8 {width: 66.66%;}
		.col-9 {width: 75%;}
		.col-10 {width: 83.33%;}
		.col-11 {width: 91.66%;}
		.col-12 {width: 100%;}


		/***NavBar*/
	.hamburger a{
		padding: 0;
		width: 37px;
		height: 37px;
		border-radius: 50%;
		display: flex;
		background-color: rgba(115,115,115,0.7);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		justify-content: center;
		align-items: center;
	}
	.hamburger .bar{
		position: relative;
		width: 52%;
		height: 1.3px;
		background-color: white;
		border-radius: 2px;
	}
	.hamburger .bar::before, .hamburger .bar::after{
		content: '';
		position: absolute;
		width: 60%;
		left: 50%;
		height: 100%;
		background-color: inherit;
		border-radius: 2px;
		transform: translateX(-50%);
	}
	.hamburger .bar::before{
		top: -4.5px;
	}
	.hamburger .bar::after{
		top: 4.5px;
	}

	li .fa{
		position: relative;
		right: -370px;
		top: 2.5px;
		font-size: 27px;
		padding: 5px;
		color: dodgerblue;
		border:3px solid gray;
		border-radius: 50%
	}

	.fa:hover{color: white;transition: 1s ease-out;}

	.collapse{
		transition: background-color 0.4s ease-in-out;
	}
	
	.nav-link{
		color: black;
		font-size: 20px;
		height: 50px;
		margin-left: 30px;
		/*text-align: center;
		position: relative;
		left: 380px;*/

	}
	.nav-link:hover{
		color: white;
		background-color: gray;
		transition: background-color 0.4s ease-in-out;
	}
	
	.navbar{
		padding: 0px;
		color: black;
	}
	.nav-link.scrolled{
		color: black;
	}
	

	.bgColor{
		height: 57px;
		color: black !important;
		background-color: green;
	}

	.bgColort{color: black;}

	.logodiv{
		position: absolute;
		top: -45px;
		left: 0px;
		font-weight: bold;
		/*border: 1px solid gold;*/
	}
	.logoimg{
		position: relative;
		top: 45px;
		left: 10px;
	}

	.mobilenav1{display: none;}

	.mobilenavicon{
			text-decoration: none;
			list-style: none;
			padding: 15px;
			font-family: sans-serif;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
		}

	

		/***Background Images***/
	.box1{
		height: 600px;
		background-image: url(../images/image1.jpg);
		background-size: 100% 100%;
	}

	.box2{
		height: 600px;
		background-image: url(../images/image3.jpg);
		background-size: 100% 100%;
	}

	.box3{
		height: 600px;
		background-image: url(../images/image2.jpg);
		background-size: 100% 100%;
	}

	.bgtext{
		/*display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;*/
		position: relative;
		left: 250px;
		top: 220px;
	}
	


	/*** Best selling stlying ***/
	.bsellingcon{
		text-align: center;
		background-color: lightgray;
		margin-bottom: 50px;
		height: 300px;
	}


	.bselling1{
		height: 100%;
		border-radius: 5px;
		box-shadow: 5px 5px 7px;
		background-image: url(../images/Aftershock2.jpg);
		background-size: 100% 100%;
	}

	.bselling2{
		height: 100%;
		border-radius: 5px;
		box-shadow: 5px 5px 7px;
		background-image: url(../images/Aftershock1.jpg);
		background-size: 100% 100%;
	}
	.bselling3{
		height: 100%;
		border-radius: 5px;
		box-shadow: 5px 5px 7px;
		background-image: url(../images/Aftershock5.jpg);
		background-size: 100% 100%;
	}
	
	.bsellingdiv{
		margin-left: 10px;
		height: 200px;
		margin-bottom: 20px;
	}

	.bsellingdiv:hover {
		opacity: 0.7 !important;
	}
	.bsellingdiv:hover .shop{
		visibility: visible;
	}
	.shop{
		background-color: #e6e6e6;
		color: green;
		position: relative;
		top: 45%;
		left: 25%;
		border: none;
		padding: 4px;
		border-radius: 5px;
		visibility: hidden;
	}
	.shop:hover{
		background-color: black;
	}


	/**Products & Services**/
	.condiv1{
		margin-bottom: 30px;
		height: 300px;
		/*border: 1px solid red;*/
		padding: 0px 5px 0px 0px;

	}
	
	.condiv2{
		height: 300px;
		/*border: 1px solid red;*/
		margin-bottom: 20px;
		overflow: hidden;
		padding: 0px 0px 0px 5px;
	}

	.condiv3{
		height: 250px;
		/*border: 1px solid red;*/
		margin-bottom: 25px;
		padding: 0px 5px 0px 5px;
		overflow: hidden;
	}
	.condiv4{
		height: 250px;
		/*border: 1px solid red;*/
		margin-bottom: 25px;
		padding: 0px 5px 0px 5px;
		overflow: hidden;
	}
	.condiv5{
		height: 250px;
		/*border: 1px solid red;*/
		margin-bottom: 25px;
		padding: 0px 5px 0px 5px;
		overflow: hidden;
	}
	.condiv6{
		height: 250px;
		margin-bottom: 25px;
		/*border: 1px solid red;*/
		padding: 0px 5px 0px 0px;
		overflow: hidden;
	}
	.condiv7{
		margin-bottom: 25px;
		height: 250px;
		/*border: 1px solid red;*/
		padding: 0px 5px 0px 5px;
		overflow: hidden;
	}
	.condiv8{
		margin-bottom: 25px;
		height: 250px;
		/*border: 1px solid red;*/
		padding: 0px 0px 0px 5px;
		overflow: hidden;
	}
	.picdiv1{
		height: 100%;
		/*border: 5px solid green;*/
		padding: 0px;
		/*border-radius: 5px;*/
		/*box-shadow: 2px 2px 5px black;*/
	}
	.picdiv2{
		height: 100%;
		/*border: 1px solid black;*/
		/*margin: 0px;*/
		padding: 0px;
		/*border-radius: 5px;
		box-shadow: 2px 2px 5px black;*/
	}
	.picdiv3{
		height: 100%;
		padding: 0px;
		/*border: 1px solid black;*/
		background-size: 100% 100%;
		border-radius: 10px;
		box-shadow: 2px 2px 5px black;
		background-image: url(../images/aftershock5.jpg);
	}
	.picdiv4{
		height: 100%;
		padding: 0px;
		border-radius: 10px;
		/*border: 1px solid black;*/
		background-size: 100% 100%;
		box-shadow: 2px 2px 5px black;
		background-image: url(../images/aftershock1.jpg);
	}
	.picdiv5{
		height: 100%;
		padding: 0px;
		/*border: 1px solid black;*/
		background-size: 100% 100%;
		border-radius: 10px;
		box-shadow: 2px 2px 5px black;
		background-image: url(../images/aftershock2.jpg);
	}

	.picdiv6{
		height: 100%;
		padding: 0px;
		/*border: 1px solid black;*/
		background-size: 100% 100%;
		border-radius:10px;
		box-shadow: 2px 2px 5px black;
		background-image: url(../images/aftershock3.jpg);
	}
	.picdiv7{
		height: 100%;
		padding: 0px;
		/*border: 1px solid black;*/
		background-size: 100% 100%;
		border-radius: 10px;
		box-shadow: 2px 2px 5px black;
		background-image: url(../images/aftershock4.jpg);
	}
	.picdiv8{
		height: 100%;
		padding: 0px;
		/*border: 1px solid black;*/
		background-size: 100% 100%;
		border-radius: 10px;
		box-shadow: 2px 2px 10px black;
		background-image: url(../images/1941.jpg);
	}

	.btnhov{
		background-color:darkgreen;
		/*border: 1px solid white;*/
		padding: 7px;
		border-radius: 7px;
		color: white;
		position: relative;
		top: 10px;
	}
	.btndiv{
		/*border: 1px solid purple;*/
		width: 98.6%;
		height: 40px;
		position: absolute;
		bottom: 0px;
		opacity: 0.8;
		border-radius: 10px;
		background-color: black;

	}
	.btndiv2{
		/*border: 1px solid purple;*/
		width: 97%;
		border-radius: 10px;
		height: 40px;
		position: absolute;
		bottom: 0px;
		opacity: 0.8;
		background-color: black;

	}
	.btndiv:hover{
		height: 100px;
		transition: 0.8s ease-out;
	}
	.btndiv2:hover{
		height: 100px;
		transition: 0.8s ease-out;
	}
	.btnhov:hover{
		border: 1px solid white;
		color: white;
		background-color: black;
		opacity: 0.7;
		height: 40px;
		transition: 0.5s ease-in-out;
	}
	.amt{
		font-size: 17px;
		color: white;
		position: relative;
		top: 20px;
		visibility: hidden;
	}
	.btndiv:hover .amt{
		visibility: visible;
	}
	.btndiv2:hover .amt{
		visibility: visible;
	}
	.more{
		background-color: lightgray;
		padding: 10px;
		border: none;
		color: black;
		border-radius: 5px;
	}
	.more:hover{background-color: green;color:;}

		/***FOOTER**/
	.footer{
		margin: 0px;
		/*opacity: 0.9;*/
		/*background-size: 100% 100%;*/
		/*background-image: url(../images/logo.jpg);*/
		background-color: darkgreen;
	}
	.container{
		margin-bottom: 165px;
	}
	.ficon{
		margin: 0px 15px 0px 0px;
		padding: 0px;
		color: black;
		font-size: 24px;
	}
		

	@media only screen and (max-width: 1200px){
		li .fa{position: relative;right: -40px;}
	}

	@media only screen and (max-width: 950px){		
		.logotext{
			visibility: hidden;
		}
		li .fa{position: relative;right: -80px;}
	}
	@media only screen and (max-width: 670px){
		li .fa{visibility: hidden;}
	}

	@media only screen and (max-width: 580px){
		.mobilenav1{
			display: block;
			position: fixed;
			padding: 0px;
			/*max-width: 1200px;*/
			/*height: 900px;*/
			background-color: #006622;
			z-index: 1000;
	}   

		.mobilenav{
			display: none;
			height: 300px;
			background-color: lightgray;
		}

		li .fa{position: relative;right: -200px;}
	}
		