@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*, 
*::before, 
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(/justice/images/products.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.logo{
	font-family: "Poppins", "sans-serif";
	transform: scale(200%);
	padding-top: 35px;
	color: white;
	width: 100px;
	height:100px;
    text-decoration: none;
}
button{
	margin:20px;
}

.btn{
	position: relative;
	top: 0;
	left: 0;
	width: 150px;
	height: 50px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.btn:hover a{
	letter-spacing: 3px;
}
.btn a::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.btn:hover a::before{
	transform: skewX(45deg) translate(200px);
	-webkit-transform: skewX(45deg) translate(200px);
	-moz-transform: skewX(45deg) translate(200px);
	-ms-transform: skewX(45deg) translate(200px);
	-o-transform: skewX(45deg) translate(200px);
}
.btn::before{
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: 1px;
	width: 30px;
	height: 10px;
	background: #fff;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn:hover::before{
	bottom: 0;
	height: 50;
	width: 80;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}
.btn::after{
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: 1px;
	width: 30px;
	height: 10px;
	background: #fff;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn:hover::after{
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.btn:nth-child(1)::before, .container .btn:nth-child(1)::after{
	background: #fff;
	box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 30px #fff,
		0 0 60px #fff;
}
header{
	position: absolute;
	width: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	
}
header nav{
	
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
} 
header ul{
	display: flex;
	list-style: none;
	align-items: center;
}
.msg_container{
    width: 600px;
    height: 280px;
    position: absolute;
    left: 14%;
    top:57%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    overflow: hidden;
}
#slider{
    display: inline-flex;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.msg-col{
    width: 600px;
    height: 280px;
}
.msg-col h1{
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin: 10px 0;
}
.msg-col p{
    color: white;
    font-size: 15px;
    line-height: 25px;
}
.controller{
    width: 1px;
    height: 320px;
    display: block;
    position: absolute;
    background: #c0c0c0;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#line1,#line2,#line3,#line4{
    height:80px;
    width: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    
}
#active{
    width:5px;
    height: 80px;
    border-radius:10px ;
    transition: 1s;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    background:#fff;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}